body{
    font-family: "Helvetica", "Arial","LiHei Pro","黑體-繁","微軟正黑體", sans-serif;
  }
  
  .columns {
    display: flex;
  }
  .block-button .ico {
    font-size: 1.5rem;
  }
  .block-button .txt {
    margin-left: 10px;
  }
  .block-button {
    margin: 40px;
    margin-top: 20px;
  }
  .block-button .button{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-clip: padding-box;
    color: black;
    text-decoration: none;
    display: flex;
    align-items: center;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
  }
  .block-button a .ico {
    display: block;
    text-align: center;
    margin: auto;
    
  }
  .block-button a .ico .icoh_front{
    display: inline;
  }
  .block-button a .ico .icoh_back{
    width: 55px;
    display: none;
  }
  .block-button a .ico:hover .icoh_front{
    display: none;
  }
  .block-button a .ico:hover .icoh_back{
    display: inline;   
  }
  .block-button.button-style1 {
    position: relative;
    width: fit-content;
  }
  .block-button.button-style1 .button {
    border: 4px solid #70e622;
    
  }
  .block-button.button-style1 .button:after {
    background: #01ad1e;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    content: '';
    z-index: -1;
    border-radius: 50%;
    background-clip: padding-box;
    transition: all 0.4s linear;
  }
  
  .block-button.button-style1 .button:hover:after {
    transform: scale(0);
    opacity: 0;
  }
  .block-button.button-style2 {
    position: relative;
    width: fit-content;
  }
  .block-button.button-style2 .button {
    border: 4px solid #f078d6;
  }
  .block-button.button-style2 .button:after {
    background: #a70370;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    content: '';
    z-index: -1;
    border-radius: 50%;
    background-clip: padding-box;
    transition: all 0.4s linear;
  }
  .block-button.button-style2 .button:hover:after {
    transform: scale(0);
    opacity: 0;
  }
  @media(max-width:768px) {
    .block-button {
      margin: 30px;
    }
    
  }