/* Full-width input fields */
body{
    background-image: url("../img/login_bg.jpg");
    background-repeat: no-repeat;
    font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
}
/* outlet design */
.w3-modal{
    display: unset;
    background-color: unset;
}
/* inlet design */
.w3-modal-content{
    border-radius: 15px;
    height: 360px;
}
.txt-white{
    color: white;
}
span{
    font-size: large;
}
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    opacity: 1;
    box-sizing: border-box;
}
/* Set a style for all buttons */
button{
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    width: 100%;
}
  
button:hover {
    background-color:rgba(76, 175, 80, 0.8);
}
/* forget psw styles */
span.psw {
    float: right;
    padding-top: 16px;
    padding-right: 10px;
  }
span.psw:hover{
    color:blue;
}